html {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@font-face {
  font-family: Manrope;
  src: url('./fonts/Manrope/static/Manrope-Regular.ttf');
}
@font-face {
  font-family: Montserrat;
  src: url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #313131;
  /* overflow-x: hidden; */
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
a {
  cursor: pointer;
}
